<a href="https://colab.research.google.com/github/Krishantsingh/Data-Structure-Advance/blob/main/Data_Structure_Advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a code to reverse a string.

In [ ]:
string1="Ram"
string1[::-1]

'maR'

2. Write a code to count the number of vowels in a string.

In [ ]:
def count_vowels(input_string):
    vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
    return sum(1 for char in input_string if char in vowels)

In [ ]:
example_string = "I am a rider"
vowel_count = count_vowels(example_string)
print(f"Number of vowels in '{example_string}': {vowel_count}")

Number of vowels in 'I am a rider': 5

3.  Write a code to check if a given string is a palindrome or not.

In [ ]:
s="racecar"
if s==s[::-1]:
  print("Palindrone string")
else:
  print("Not a palindrome string")

Palindrone string

4. Write a code to check if two given strings are anagrams of each other.

In [ ]:
s="listen"
k="silent"
if sorted(s)==sorted(k):
  print("The given strings are Anagrams")
else:
  print("The given strings are not Anagrams")

The given strings are Anagrams

 5. Write a code to find all occurrences of a given substring within another string.

In [ ]:
def find_all_occurrences(text, substring):
    occurrences = []
    start = 0

    while start < len(text):
        index = text.find(substring, start)
        if index == -1:
            break
        occurrences.append(index)
        start = index + 1

    return occurrences

In [ ]:
text = "aabracadabra"
substring = "abra"
result = find_all_occurrences(text, substring)
print(f"Occurrences of '{substring}' in '{text}': {result}")

Occurrences of 'abra' in 'aabracadabra': [1, 8]

6. Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def compress_string(input_string):
    if not input_string:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(input_string)):
        if input_string[i] == input_string[i - 1]:
            count += 1
        else:
            compressed.append(input_string[i - 1] + str(count))
            count = 1


    compressed.append(input_string[-1] + str(count))

    compressed_string = ''.join(compressed)

    return compressed_string if len(compressed_string) < len(input_string) else input_string

In [ ]:
example_string = "aaabcccccaaa"
compressed = compress_string(example_string)
print(f"Compressed string: {compressed}")

Compressed string: a3b1c5a3

7. Write a code to determine if a string has all unique characters.

In [ ]:
s="sita"
if len(s)==len(set(s)):
  print("The given string has all unique characters")
else:
  print("The given string has not all unique characters")

The given string has all unique characters

8. Write a code to convert a given string to uppercase or lowercase.

In [ ]:
s="Ram"
s.upper()

'RAM'

In [ ]:
t="SITA"
t.lower()

'sita'

9. Write a code to count the number of words in a string.

In [ ]:
s="sita studies in class 8"
len(s.split())

5

10. Write a code to concatenate two strings without using the + operator.

In [ ]:
s="ram"
t="sita"
("".join([s,t]))

'ramsita'

 11. Write a code to remove all occurrences of a specific element from a list.

In [ ]:
l=[1,2,3,4,5,6]
l.remove(2)
l

[1, 3, 4, 5, 6]

12. Implement a code to find the second largest number in a given list of integers.

In [ ]:
l=[1,4,6,10,9,11,20]
l.sort()
l[-2]

11

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
def count_elements(input_list):
    element_count = {}
    for element in input_list:
        if element in element_count:
            element_count[element] += 1
        else:
            element_count[element] = 1
    return element_count

In [ ]:
example_list = ["apple", "banana", "apple", "orange", "banana", "apple"]
counted = count_elements(example_list)
print(f"Element counts: {counted}")

Element counts: {'apple': 3, 'banana': 2, 'orange': 1}

14. Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
def reverse_list_inplace(input_list):
    left = 0
    right = len(input_list) - 1

    while left < right:
        input_list[left], input_list[right] = input_list[right], input_list[left]
        left += 1
        right -= 1

example_list = [1, 2, 3, 4, 5]
reverse_list_inplace(example_list)
print(f"Reversed list: {example_list}")

Reversed list: [5, 4, 3, 2, 1]

15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates(input_list):
    seen = set()
    result = []

    for item in input_list:
        if item not in seen:
            result.append(item)
            seen.add(item)

    return result

In [ ]:
example_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
unique_list = remove_duplicates(example_list)
print(f"List after removing duplicates: {unique_list}")

List after removing duplicates: ['apple', 'banana', 'orange', 'grape']

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
l=[1,2,3,4,5]
if l==sorted(l) or l==sorted(l,reverse=true):
  print("The given list is sorted in either ascending or descending orfder")
else:
    print("The given list is not sorted")

The given list is sorted in either ascending or descending orfder

17. Write a code to merge two sorted lists into a single sorted list.

In [ ]:
l1=[1,2,3,4,5]
l2=[6,7,8,9]
l1.extend(l2)
l1.sort()
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

18. Implement a code to find the intersection of two given lists.

In [ ]:
l1=[1,2,3,4,5,6]
l2=[4,5,6,7,8,9]
set(l1).intersection(l2)

{4, 5, 6}

19. Create a code to find the union of two lists without duplicates.

In [ ]:
l1=[1,2,3,4,5,6,7]
l2=[4,5,6,7,8,9]
set(l1).union(l2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random
l=[1,2,3,4,5,6,7]
random.shuffle(l)
l

[1, 7, 5, 6, 2, 3, 4]

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuple.

In [ ]:
t1=(1,2,3,4)
t2=(3,4,5,6,7)
tuple(set(t1).intersection(t2))

(3, 4)

 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [ ]:
s1=input("Enter the first set of integers separated by commas:")
s2=input("Enter the second set of integers separated by commas:")
set(set(s1).intersection(s2))

Enter the first set of integers separated by commas:{1,2,3,4,5}
Enter the second set of integers separated by commas:{2,3,4,5,6,7}

{',', '2', '3', '4', '5', '{', '}'}

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
t1=input("enter the first tuple:")
t2=input("enter the second tuple:")
tuple(set(t1).union(t2))

enter the first tuple:(1,2,3,4)
enter the second tuple:(2,3,4,5)

(',', '1', '(', '4', '3', ')', '2', '5')

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [ ]:
s1=set(input("Enter the first set of strings separated by commas:"))
s2=set(input("Enter the second set of strings separated by commas:"))
difference=s1-s2
print("Elements in the first set but not in the second set:")
print(difference if difference else "No elements found.")

Enter the first set of strings separated by commas:{"ran","shyam"}
Enter the second set of strings separated by commas:{"Gita","Sita"}
Elements in the first set but not in the second set:
{'y', 'm', 'h', 'r', 's', 'n'}

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:
def slice_tuple(input_tuple, start_index, end_index):
    return input_tuple[start_index:end_index]
original_tuple = (10, 20, 30, 40, 50)
start = 1
end = 4
new_tuple = slice_tuple(original_tuple, start, end)
print(new_tuple)

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
s1=set(input("Enter the first set of  characters:"))
s2=set(input("Enter the second set of charactres:"))
set(s1.union(s2))

Enter the first set of  characters:{1,1,2,2,3}
Enter the second set of charactres:{}2,2,4,4,6|

{',', '1', '2', '3', '4', '6', '{', '|', '}'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [ ]:
def find_max_min(values):
    max_value, min_value = max(values), min(values)
    return max_value, min_value

user_input_str = input("Enter a tuple of integers: ")
user_input_list = user_input_str.strip('()').split(',')
user_input = tuple(map(int, [num.strip() for num in user_input_list]))

max_val, min_val = find_max_min(user_input)

print("The maximum value is:", max_val)
print("The minimum value is:", min_val)

Enter a tuple of integers: (1,2,3,4,5,6)
The maximum value is: 6
The minimum value is: 1

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets.

In [ ]:
s1=set(input("enter the first set of integers:"))
s2=set(input("enter the second set of integers:"))
union=s1.union(s2)
intersection=s1.intersection(s2)
difference=s1.difference(s2)
print(union)
print(intersection)
print(difference)

enter the first set of integers:{1,3,3,4,5}
enter the second set of integers:{1,4,4,5}
{'1', '4', '{', '5', ',', '3', '}'}
{'1', '{', '4', '5', ',', '}'}
{'3'}

29. Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple.

In [2]:
def count_occurrences(tup, element):
    return tup.count(element)

user_input_str = input("Enter a tuple of integers: ")

user_input_list = user_input_str.strip('()').split(',')

user_input = tuple(map(int, [num.strip() for num in user_input_list]))

element = int(input("Enter the element to count: "))

count = count_occurrences(user_input, element)

print(f"The element {element} appears {count} time(s) in the tuple.")

Enter a tuple of integers: (1,2,3,4)
Enter the element to count: 2
The element 2 appears 1 time(s) in the tuple.

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets.

In [3]:
set1 = set(input("Enter the first set of strings, separated by space: ").split())

set2 = set(input("Enter the second set of strings, separated by space: ").split())

symmetric_difference = set1.symmetric_difference(set2)

print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings, separated by space: {"ram","shyam"}
Enter the second set of strings, separated by space: {"gita",'sita'}
Symmetric difference of the two sets: {'{"gita",\'sita\'}', '{"ram","shyam"}'}

31.  Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.

In [4]:
words = input("Enter a list of words: ").split()

word_frequency = {}

for word in words:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

print("Word frequency dictionary:", word_frequency)

Enter a list of words, separated by space: [ram,sita,gita]
Word frequency dictionary: {'[ram,sita,gita]': 1}

32.  Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [ ]:
def merge_dictionaries(dict1, dict2):

    merged_dict = dict1.copy()

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    return merged_dict

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

merged_result = merge_dictionaries(dict1, dict2)
print(merged_result)

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None.

In [ ]:
def access_nested_value(nested_dict, keys):
    current = nested_dict
    for key in keys:
        if isinstance(current, dict) and key in current:
            current = current[key]
        else:
            return None
    return current

In [ ]:
nested_dict = {
    'a': {
        'b': {
            'c': 42
        },
        'd': 7
    }
}

keys = ['a', 'b', 'c']
print(access_nested_value(nested_dict, keys))

keys = ['a', 'x', 'y']
print(access_nested_value(nested_dict, keys))

42
None

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order.

In [ ]:
def sort_dict_by_values(input_dict, ascending=True):
    sorted_items = sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending)
    return dict(sorted_items)

In [ ]:
example_dict = {'a': 3, 'b': 1, 'c': 2}
sorted_dict_asc = sort_dict_by_values(example_dict, ascending=True)
print("Ascending:", sorted_dict_asc)

sorted_dict_desc = sort_dict_by_values(example_dict, ascending=False)
print("Descending:", sorted_dict_desc)

Ascending: {'b': 1, 'c': 2, 'a': 3}
Descending: {'a': 3, 'c': 2, 'b': 1}

35.  Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [ ]:
def invert_dictionary(input_dict):
    inverted_dict = {}
    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict

In [ ]:
example_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted = invert_dictionary(example_dict)
print(inverted)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}